* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 225, 211);
    font-family: sans-serif;
}

h1 {
    padding-top: 10px;
    color: teal;
    display: flex;
    justify-content: center;
}

h2 {
    color: white;
    display: flex;
    justify-content: center;
    border: 1px solid teal;
    border-radius: 4px;
    background-color: rgba(235, 225, 211, 0.7);
}

.feedBox {
    border-bottom: 1px solid teal;
    color: teal;
    padding: 25px;
    background-color: rgba(235, 225, 211, 0.7);
}

.feedBoxPlus {
    display: none;
    border: 1px solid teal;
    border-radius: 10px;
    color: teal;
    padding: 5px;
    background-color: rgba(235, 225, 211, 0.7);
}

.feedBox.open .feedBoxPlus {
    display: block;
}

#monFormulaireDrksID {
    display: none;
    border-bottom: 1px solid teal;
    color: teal;
    padding: 25px;
    background-color: rgba(235, 225, 211, 0.7);
}

#monFormulaireDrksPlus {
    border: 1px solid teal;
    border-radius: 10px;
    color: teal;
    padding: 5px;
    background-color: rgba(235, 225, 211, 0.7);
}

ul {
    list-style: none;
    background: teal;
}

ul li {
    position: relative;
    text-align: center;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: rgb(235, 225, 211);
    text-decoration: none;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: teal;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: teal;
}

ul li:hover ul.dropdown {
    display: block;
}

.section-divider {
    border-bottom: 2px solid teal;
    margin: 20px;
}

.btn{
    background-color: rgba(235, 225, 211);
    color: teal;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    
}

.btn-new {
    background-color: rgba(235, 225, 211);
    color: teal;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0px;
}

.btn {
    font-size: 35px;
    border: none;
}

.btn-drink {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.btn-new {
    border: none;
    border-bottom:  solid teal;
}

.imagedefond {
    background-image: url('../imagebisquesitetest.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

input {
    padding: 6px 4px;
    border-radius: 7px;
    max-width: 40%;
    margin-right: 5px;
}

input[id^="dose"] {
    width: 12%;
}

select {
    padding: 6px 8px;
    border-radius: 7px;
    margin-right: 5px;
}

textarea {
    padding: 6px 4px;
    border-radius: 7px;
    width: 100%;
    min-height: 100px;
}

button {
    padding: 4px 8px;
    border-radius: 5px;
}

@media screen and (min-width: 800px) {
    textarea {
        width: 70%;
    }
}

@media screen and (min-width: 1050px) {
    textarea {
        width: 60%;
    }
}
