* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 225, 211);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    padding-top: 10px;
    color: teal;
    display: flex;
    justify-content: center;
}

h2 {
    color: white;
    display: flex;
    justify-content: center;
    border: 1px solid teal;
    border-radius: 4px;
    background-color: rgba(235, 225, 211, 0.7);
}

.feedBox,
#monFormulaireDrksID {
    border-bottom: 1px solid teal;
    color: teal;
    padding: 25px;
    background-color: rgba(235, 225, 211, 0.7);
}

.feedBoxPlus,
#monFormulaireDrksPlus {
    display: none;
    border: 1px solid teal;
    border-radius: 10px;
    color: teal;
    padding: 5px;
    background-color: rgba(235, 225, 211, 0.7);
}

.feedBox.open .feedBoxPlus {
    display: block;
}

ul {
    list-style: none;
    background: teal;
}

ul li {
    position: relative;
    text-align: center;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: rgb(235, 225, 211);
    text-decoration: none;
    font-size: 20px;
}

ul li ul.dropdown {
    display: none;
    width: 100%;
    background: teal;
    position: absolute;
    z-index: 999;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li {
    display: block;
}

ul li a:hover {
    background: teal;
}

.section-divider {
    border-bottom: 2px solid teal;
    margin: 20px 0;
}

.btn,
.btn-new {
    background-color: rgba(235, 225, 211);
    color: teal;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.btn {
    font-size: 35px;
}

.btn-new {
    border-bottom: solid 1px teal;
    border-radius: 0;
}

.btn-drink {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.imagedefond {
    background-image: url('../imagebisquesitetest.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

input,
select,
textarea,
button {
    border-radius: 7px;
    padding: 6px 8px;
}

input {
    max-width: 40%;
}

input[id^="dose"] {
    width: 12%;
}

select {
    margin: 2px 5px 2px 3px;
}

textarea {
    width: 100%;
    min-height: 100px;
    max-height: 60%;
    max-width: 100%;
}

button {
    padding: 4px 8px;
    border-radius: 5px;
}

/*---------------------------------- Galerie ----------------------------------*/
#gallery {
    gap: 10px;
    padding: 20px;
}

.mosaic {
    display: grid;
    grid-template-columns: repeat( 5,1fr);
    img{
        width :200px;
        height: 200px;
        object-fit: cover;
    }
}

.column {
    padding: 100px;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
}

#gallery img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#booouuuutttonnn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

/*---------------------------------- Carousel ----------------------------------*/
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-height: 40%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    transition: opacity 1s ease;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}
/*---------------------------------- Jeu ----------------------------------*/

/*---------------------------------- Responsive ----------------------------------*/
@media screen and (min-width: 800px) {
    textarea {
        width: 70%;
    }

    input[id^="dose"] {
        width: 6%;
    }
}
